FORMAT: 1A
HOST: https://api.agrofoto.pl

# Agrofoto
Agrofoto REST API

## Request info
Collection always consists of:

 - `href`that uniquely identifies the collection, 
 - `items table that contains all or some of the actual resources,
 - `previous and `next` which allow for paging

### Access token
Access token should be obtained after logging in.

Every authenticated request will contain HTTP header `Authorization` with an access token.

`Authorization: token OAUTH-TOKEN`

If annonymous (without logging in) application access should be possible - no access token in request present case support is needed and treated as a request from unauthenticated user.


# Agrofoto API Root [/]
API Root

References other api resources, field expansion allows to fetch content with single request


Attributes of the root resource:

 - `gallery` is a root gallery resource
 - `forum` is a root forum resource

## Retrieve Entry Point [GET]

+ Response 200 (application/json)
    + Body
    
            {
                "href": "https://api.agrofoto.pl/",
                "galleries": {
                    "href": "https://api.agrofoto.pl/galleries"
                },
                "forums": {
                    "href": "https://api.agrofoto.pl/forums"
                }
            }

# Group Authentication
Seesion management

## Login [/login]
If some other session parameters are neccessary prior to actual login request, they could be obtained with GET request on login endpoint. Please report this issue if necessary.

### Login [POST]
Performs the login.

+ Request (application/x-www-form-urlencoded)

        login=test&password=qq
            
+ Response 200
    + Body

            {
                "token": "OAUTH-TOKEN"
            }

### Logout [DELETE]
Performs logout.
+ Response 204

# Group Galleries
Gallery releated resources

## Gallery [/galleries/{id}]
A single Gallery object. Gallery object represents a node in the tree of galleries.

Following gallery object types should be considered:

- root - hot photos, children, no parent, no photos
- node - hot photos, children, parent, no photos
- leaf - hot photos, no children, parent, photos
- leaf-vip - leaf with from and rating

+ Parameters
    + id (string)

### Get the Gallery [GET]
+ Response 200 (application/json)
    + Body
    
            {
                "href": "https://api.agrofoto.pl/galleries/29-case",
                "title": "Case",
                "desc": null,
                "updatedTime": "2014-04-14T02:15:15Z",
                "photosCount": 3724,
                "commentsCount": 15286,
                "cover": {
                    "href": "http://www.agrofoto.pl/photos/514762-case-115-i-claas-dominator-86",
                    "user": {
                        "href": "https://api.agrofoto.pl/users/14237-mat",
                        "name": "Mat"
                    },
                    "name": "Case 115 i Claas Dominator 86",
                    "desc": "1-szy dzień żniw.",
                    "images": {
                        "square": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/tn_gallery_14237_29_53604.jpg",
                        "small": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/sml_gallery_14237_29_53604.jpg",
                        "medium": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/med_gallery_14237_29_53604.jpg",
                        "large": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/gallery_14237_29_53604.jpg"
                    },
                    "createdTime": "2011-09-02T15:41:47+0000",
                    "updatedTime": "2011-09-02T16:12:33+0000",
                    "displayedCount": 91,
                    "commentsCount": 1
                },
                "subscribe": {
                    "href": "https://api.agrofoto.pl/galleries/29-case/subscribe",
                    "count": 3,
                    "subscribed": true
                },
                "share": "http://www.agrofoto.pl/forum/gallery/category/29-case/",
                "canUpload": true,
                "parent": {
                    "href": "https://api.agrofoto.pl/galleries/4-ciagniki-tractors",
                    "title": "Ciągniki / Tractors",
                    "parent": {
                        "href": "https://api.agrofoto.pl/galleries/2-maszyny-machines",
                        "title": "Maszyny / Machines",
                        "parent": {
                            "href": "https://api.agrofoto.pl/galleries",
                            "title": "Galerie",
                            "parent": null
                        }
                    }
                },
                "children": {
                    "href": "https://api.agrofoto.pl/galleries/{id}/children",
                    "items": [
                        {
                            "href": "https://api.agrofoto.pl/galleries/224-challenger",
                            "title": "Challenger",
                            "desc": null,
                            "updatedTime": "2014-04-14T02:15:15Z",
                            "photosCount": 83,
                            "commentsCount": 394,
                            "cover": {
                                "href": "http://www.agrofoto.pl/photos/504435-challenger-mt-765c",
                                "user": {
                                    "href": "https://api.agrofoto.pl/users/1342-mnich",
                                    "name": "mnich"
                                },
                                "name": "Challenger MT 765C",
                                "desc": "Siew kukurydzy siewnikiem horsch.",
                                "images": {
                                    "square": "http://www.agrofoto.pl/forum/uploads/gallery/category_224/tn_gallery_1342_224_40598.jpg",
                                    "small": "http://www.agrofoto.pl/forum/uploads/gallery/category_224/sml_gallery_1342_224_40598.jpg",
                                    "medium": "http://www.agrofoto.pl/forum/uploads/gallery/category_224/med_gallery_1342_224_40598.jpg",
                                    "large": "http://www.agrofoto.pl/forum/uploads/gallery/category_224/gallery_1342_224_40598.jpg"
                                },
                                "createdTime": "2011-09-02T15:41:47+0000",
                                "updatedTime": "2011-09-02T16:12:33+0000",
                                "displayedCount": 433,
                                "commentsCount": 4
                            }
                        }
                    ],
                    "next": {
                        "href": "https://api.agrofoto.pl/galleries/29-case/children?page=1&limit=25"
                    },
                    "previous": null
                },
                "photos": {
                    "href": "https://api.agrofoto.pl/galleries/29-case/photos",
                    "items": [
                        {
                            "href": "https://api.agrofoto.pl/photos/514762-case-115-i-claas-dominator-86",
                            "user": {
                                "href": "https://api.agrofoto.pl/users/14237-mat",
                                "name": "Mat"
                            },
                            "name": "Case 115 i Claas Dominator 86",
                            "desc": "1-szy dzień żniw.",
                            "images": {
                                "square": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/tn_gallery_14237_29_53604.jpg",
                                "small": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/sml_gallery_14237_29_53604.jpg",
                                "medium": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/med_gallery_14237_29_53604.jpg",
                                "large": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/gallery_14237_29_53604.jpg"
                            },
                            "createdTime": "2011-09-02T15:41:47+0000",
                            "updatedTime": "2011-09-02T16:12:33+0000",
                            "displayedCount": 91,
                            "commentsCount": 1
                        }
                    ],
                    "next": { 
                        "href": "https://api.agrofoto.pl/galleries/29-case/photos?page=1&limit=25" 
                    },
                    "previous": null
                },
                "hot": {
                    "href": "https://api.agrofoto.pl/galleries/29-case/hot",
                    "items": [
                        {
                            "href": "https://api.agrofoto.pl/photos/514762-case-115-i-claas-dominator-86",
                            "user": {
                                "href": "https://api.agrofoto.pl/users/14237-mat",
                                "name": "Mat"
                            },
                            "name": "Case 115 i Claas Dominator 86",
                            "desc": "1-szy dzień żniw.",
                            "images": {
                                "square": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/tn_gallery_14237_29_53604.jpg",
                                "small": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/sml_gallery_14237_29_53604.jpg",
                                "medium": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/med_gallery_14237_29_53604.jpg",
                                "large": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/gallery_14237_29_53604.jpg"
                            },
                            "createdTime": "2011-09-02T15:41:47+0000",
                            "updatedTime": "2011-09-02T16:12:33+0000",
                            "displayedCount": 91,
                            "commentsCount": 1
                        }
                    ],
                    "next": {
                        "href": "https://api.agrofoto.pl/galleries/29-case/hot?page=1&limit=25"
                    },
                    "previous": null
                },
                "albums": {
                    "href": "https://api.agrofoto.pl/galleries/1-albumy-uzytkownikow-users-albums/albums",
                    "items": [
                        {
                            "href": "https://api.agrofoto.pl/albums/2322-sezon-2014",
                            "title": "Sezon 2014",
                            "desc": "Prace polowe 2014",
                            "updatedTime": "2014-04-14T02:15:15Z",
                            "photosCount": 32,
                            "commentsCount": 190,
                            "from": {
                                "href": "https://api.agrofoto.pl/users/26381-michallek4",
                                "name": "michallek4",
                                "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-26381.jpg"
                            },
                            "cover": {
                                "href": "https://api.agrofoto.pl/photos/516351-new-holland-tc5070",
                                "user": {
                                    "href": "https://api.agrofoto.pl/users/26381-michallek4",
                                    "name": "michallek4",
                                    "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-26381.jpg"
                                },
                                "name": "New Holland TC5070",
                                "desc": "Dalszy ciag usług :)",
                                "images": {
                                    "square": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/tn_gallery_26381_2322_274253.jpg",
                                    "small": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/sml_gallery_26381_2322_274253.jpg",
                                    "medium": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/med_gallery_26381_2322_274253.jpg",
                                    "large": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/gallery_26381_2322_274253.jpg"
                                },
                                "createdTime": "2011-09-02T15:41:47+0000",
                                "updatedTime": "2011-09-02T16:12:33+0000",
                                "displayedCount": 82,
                                "commentsCount": 0
                            },
                            "rate": {
                                "href": "https://api.agrofoto.pl/albums/2322-sezon-2014/rate",
                                "rating": 5,
                                "count": 2,
                                "userRating": 5
                            }
                        }
                    ],
                    "next": {
                        "href": "https://api.agrofoto.pl/galleries/1-albumy-uzytkownikow-users-albums/albums?page=1&limit=25"
                    },
                    "previous": null
                }
            }

## Gallery subscribing [/galleries/{id}/subscribe]

+ Parameters
    + id (string)

+ Model
    + Body
    
            {
                "href": "https://api.agrofoto.pl/galleries/29-case/subscribe",
                "count": 3,
                "subscribed": true
            }

### Subscribe the gallery [PUT]
+ Response 200 (application/json)

    [Gallery subscribing][]    

### Unsubscribe the gallery [DELETE]
+ Response 200 

    [Gallery subscribing][]

## Gallery children [/galleries/{id}/children]
Subgalleries of given gallery node, also user albums

+ Parameters
    + id (string)
    
### List gallery children [GET]
+ Response 200 (application/json)
    + Body
    
            {
                "href": "https://api.agrofoto.pl/galleries/29-case/children",
                "items": [
                    {
                        "href": "https://api.agrofoto.pl/galleries/224-challenger",
                        "title": "Challenger",
                        "desc": null,
                        "updatedTime": "2014-04-14T02:15:15Z",
                        "photosCount": 83,
                        "commentsCount": 394,
                        "cover": {
                            "href": "https://api.agrofoto.pl/photos/504435-challenger-mt-765c",
                            "user": {
                                "href": "https://api.agrofoto.pl/users/1342-mnich",
                                "name": "mnich"
                            },
                            "name": "Challenger MT 765C",
                            "desc": "Siew kukurydzy siewnikiem horsch.",
                            "images": {
                                "square": "http://www.agrofoto.pl/forum/uploads/gallery/category_224/tn_gallery_1342_224_40598.jpg",
                                "small": "http://www.agrofoto.pl/forum/uploads/gallery/category_224/sml_gallery_1342_224_40598.jpg",
                                "medium": "http://www.agrofoto.pl/forum/uploads/gallery/category_224/med_gallery_1342_224_40598.jpg",
                                "large": "http://www.agrofoto.pl/forum/uploads/gallery/category_224/gallery_1342_224_40598.jpg"
                            },
                            "createdTime": "2011-09-02T15:41:47+0000",
                            "updatedTime": "2011-09-02T16:12:33+0000",
                            "displayedCount": 433,
                            "commentsCount": 4
                        }
                    }
                ],
                "next": {
                    "href": "https://api.agrofoto.pl/galleries/29-case/children?page=1&limit=25"
                },
                "previous": null
            }

# Group Albums

## Gallery Albums Collection [/galleries/{id}/albums]
VIP users' albums, similiar to a leaf gallery node but with addition rate and from endpoints

### List all Albums
+ Parameters
    + id (string)

### List gallery albums [GET]
+ Response 200 (application/json)
    + Body
    
            {
                "href": "https://api.agrofoto.pl/galleries/1-albumy-uzytkownikow-users-albums/albums",
                "items": [
                    {
                        "href": "https://api.agrofoto.pl/albums/2322-sezon-2014",
                        "title": "Sezon 2014",
                        "desc": "Prace polowe 2014",
                        "updatedTime": "2014-04-14T02:15:15Z",
                        "photosCount": 32,
                        "commentsCount": 190,
                        "from": {
                            "href": "https://api.agrofoto.pl/users/26381-michallek4",
                            "name": "michallek4",
                            "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-26381.jpg"
                        },
                        "cover": {
                            "href": "https://api.agrofoto.pl/photos/516351-new-holland-tc5070",
                            "user": {
                                "href": "https://api.agrofoto.pl/users/26381-michallek4",
                                "name": "michallek4",
                                "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-26381.jpg"
                            },
                            "name": "New Holland TC5070",
                            "desc": "Dalszy ciag usług :)",
                            "images": {
                                "square": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/tn_gallery_26381_2322_274253.jpg",
                                "small": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/sml_gallery_26381_2322_274253.jpg",
                                "medium": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/med_gallery_26381_2322_274253.jpg",
                                "large": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/gallery_26381_2322_274253.jpg"
                            },
                            "createdTime": "2011-09-02T15:41:47+0000",
                            "updatedTime": "2011-09-02T16:12:33+0000",
                            "displayedCount": 82,
                            "commentsCount": 0
                        },
                        "rate": {
                            "href": "https://api.agrofoto.pl/albums/2322-sezon-2014/rate",
                            "rating": 5,
                            "count": 2,
                            "userRating": 5
                        }
                    }
                ],
                "next": {
                    "href": "https://api.agrofoto.pl/galleries/1-albumy-uzytkownikow-users-albums/albums?page=1&limit=25"
                },
                "previous": null
            }

## Album [/albums/{id}]

### Get album [GET]

+ Parameters
    + id (string)
    
+ Response 200 (application/json)
    + Body
    
            {
                "href": "https://api.agrofoto.pl/albums/2322-sezon-2014",
                "title": "Sezon 2014",
                "desc": "Prace polowe 2014",
                "updatedTime": "2014-04-14T02:15:15Z",
                "photosCount": 32,
                "commentsCount": 190,
                "from": {
                    "href": "https://api.agrofoto.pl/users/26381-michallek4",
                    "name": "michallek4",
                    "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-26381.jpg"
                },
                "cover": {
                    "href": "https://api.agrofoto.pl/photos/516351-new-holland-tc5070",
                    "user": {
                        "href": "https://api.agrofoto.pl/users/26381-michallek4",
                        "name": "michallek4",
                        "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-26381.jpg"
                    },
                    "name": "New Holland TC5070",
                    "desc": "Dalszy ciag usług :)",
                    "images": {
                        "square": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/tn_gallery_26381_2322_274253.jpg",
                        "small": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/sml_gallery_26381_2322_274253.jpg",
                        "medium": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/med_gallery_26381_2322_274253.jpg",
                        "large": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/gallery_26381_2322_274253.jpg"
                    },
                    "createdTime": "2011-09-02T15:41:47+0000",
                    "updatedTime": "2011-09-02T16:12:33+0000",
                    "displayedCount": 82,
                    "commentsCount": 0
                },
                "share": "http://www.agrofoto.pl/forum/gallery/image/516351-new-holland-tc5070/",
                "canUpload": true,
                "parent": {
                    "href": "https://api.agrofoto.pl/galleries/1-albumy-uzytkownikow-users-albums",
                    "title": "Albumy użytkowników / Users' albums",
                    "parent": {
                        "href": "https://api.agrofoto.pl/galleries",
                        "title": "Galerie",
                        "parent": null
                    }
                },
                "photos": {
                    "href": "https://api.agrofoto.pl/albums/29-case/photos",
                    "items": [
                        {
                            "href": "https://api.agrofoto.pl/photos/493380-new-holland-t7530-agromax-84-m",
                            "user": {
                                "href": "https://api.agrofoto.pl/users/26381-michallek4",
                                "name": "michallek4",
                            },
                            "name": "New Holland T7530 + Agromax 8,4 m",
                            "desc": "Sezon 2014 rozpoczęty z lekkim opóźnieniem bo czekałem na Vipa :) Zapraszam do komentowania i oceniania ;) ",
                            "images": {
                                "square": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/tn_gallery_26381_2322_130951.jpg",
                                "small": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/sml_gallery_26381_2322_130951.jpg",
                                "medium": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/med_gallery_26381_2322_130951.jpg",
                                "large": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/gallery_26381_2322_130951.jpg"
                            },
                            "createdTime": "2011-09-02T15:41:47+0000",
                            "updatedTime": "2011-09-02T16:12:33+0000",
                            "displayedCount": 91,
                            "commentsCount": 1
                        }
                    ],
                    "next": { 
                        "href": "https://api.agrofoto.pl/albums/2322-sezon-2014/photos?page=1&limit=25" 
                    },
                    "previous": null
                },
                "subscribe": {
                    "href": "https://api.agrofoto.pl/albums/2322-sezon-2014/subscribe",
                    "count": 3,
                    "subscribed": true
                },
                "rate": {
                    "href": "https://api.agrofoto.pl/albums/2322-sezon-2014/rate",
                    "rating": 5,
                    "count": 2,
                    "userRating": 5
                }
            }

## Album subscribing [/albums/{id}/subscribe]

+ Parameters
    + id (string)

+ Model
    + Body
    
            {
                "href": "https://api.agrofoto.pl/albums/2322-sezon-2014/subscribe",
                "count": 3,
                "subscribed": true
            }

### Subscribe album [PUT]
+ Response 200 (application/json)

    [Album subscribing][]    

### Unsubscribe album [DELETE]
+ Response 200 

    [Album subscribing][]

## Album rating [/albums/{id}/rate]
Rate the album

+ Parameters
    + id (string)

+ Model (application/json)
    + Body
    
            {
                "href": "https://api.agrofoto.pl/albums/2322-sezon-2014/rate",
                "rating": 5,
                "count": 2,
                "userRating": 5
            }

### Get album rating [GET]
+ Response 200 (application/json)

    [Album rating][]

### Rate album [PUT]
Rate or update user vote

+ Request (application/json)

            {
                "rating": 5.0
            }
            
+ Response 200 (application/json)

    [Album rating][]

# Group Photos
    
## Gallery Photos Collection [/galleries/{id}/photos]
Photos collection for given gallery leaf
    
### List all Photos [GET]
+ Parameters
    + id (string)
    
+ Response 200 (application/json)
    + Body
    
            {
                "href": "https://api.agrofoto.pl/galleries/29-case/photos",   
                "items": [ 
                    {
                        "href": "https://api.agrofoto.pl/photos/514762-case-115-i-claas-dominator-86",
                        "user": {
                            "href": "https://api.agrofoto.pl/users/14237-mat",
                            "name": "Mat"
                        },
                        "name": "Case 115 i Claas Dominator 86",
                        "desc": "1-szy dzień żniw.",
                        "images": {
                            "square": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/tn_gallery_14237_29_53604.jpg",
                            "small": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/sml_gallery_14237_29_53604.jpg",
                            "medium": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/med_gallery_14237_29_53604.jpg",
                            "large": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/gallery_14237_29_53604.jpg"
                        },
                        "createdTime": "2011-09-02T15:41:47+0000",
                        "updatedTime": "2011-09-02T16:12:33+0000", 
                        "displayedCount": 91,
                        "commentsCount": 1
                    }
                ],
                "next": { 
                    "href": "https://api.agrofoto.pl/galleries/29-case/photos?page=1&limit=25" 
                },
                "previous": null
            }

### Photo upload [POST]
Single photo upload

+ Request (multipart/form-data; boundary=AaB03x)
            
            --AaB03x
            Content-Disposition: form-data; name="photo"
            Content-Type: application/json
            
            {
                "name": "Case 115 i Claas Dominator 86",
                "desc": "1-szy dzień żniw.",
                "subscribe": true
            }
            --AaB03x
            Content-Disposition: form-data; name="file"; filename="photo.jpg"
            Content-Type: image/jpeg
            Content-Transfer-Encoding: binary
            
            ... contents of photo.jpeg ...
            --AaB03x--

+ Response 201 (application/json)
    + Body
            
            {
                "href": "https://api.agrofoto.pl/photos/514762-case-115-i-claas-dominator-86"
            }

## Hot photos collection [/galleries/{id}/hot]
Hot photos collection for given gallery root/node/leaf
    
### List all hot photos [GET]
+ Parameters
    + id (string)
    
+ Response 200 (application/json)
    + Body
    
            {
                "href": "https://api.agrofoto.pl/galleries/29-case/hot",
                "items": [
                    {
                        "href": "https://api.agrofoto.pl/photos/514762-case-115-i-claas-dominator-86",
                        "user": {
                            "href": "https://api.agrofoto.pl/users/14237-mat",
                            "name": "Mat"
                        },
                        "name": "Case 115 i Claas Dominator 86",
                        "desc": "1-szy dzień żniw.",
                        "images": {
                            "square": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/tn_gallery_14237_29_53604.jpg",
                            "small": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/sml_gallery_14237_29_53604.jpg",
                            "medium": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/med_gallery_14237_29_53604.jpg",
                            "large": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/gallery_14237_29_53604.jpg"
                        },
                        "createdTime": "2011-09-02T15:41:47+0000",
                        "updatedTime": "2011-09-02T16:12:33+0000",
                        "displayedCount": 91,
                        "commentsCount": 1
                    }
                ],
                "next": {
                    "href": "https://api.agrofoto.pl/galleries/29-case/hot?page=1&limit=25"
                },
                "previous": null
            }

## Album Photos Collection [/albums/{id}/photos]
Photos collection for given user album

### List all Photos [GET]
+ Parameters
    + id (string)
    
+ Response 200 (application/json)
    + Body

            {
                "href": "https://api.agrofoto.pl/albums/2322-sezon-2014/photos",
                "items": [
                    {
                        "href": "https://api.agrofoto.pl/photos/493380-new-holland-t7530-agromax-84-m",
                        "user": {
                            "href": "https://api.agrofoto.pl/users/26381-michallek4",
                            "name": "michallek4",
                        },
                        "name": "New Holland T7530 + Agromax 8,4 m",
                        "desc": "Sezon 2014 rozpoczęty z lekkim opóźnieniem bo czekałem na Vipa :) Zapraszam do komentowania i oceniania ;) ",
                        "images": {
                            "square": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/tn_gallery_26381_2322_130951.jpg",
                            "small": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/sml_gallery_26381_2322_130951.jpg",
                            "medium": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/med_gallery_26381_2322_130951.jpg",
                            "large": "http://www.agrofoto.pl/forum/uploads/gallery/album_2322/gallery_26381_2322_130951.jpg"
                        },
                        "createdTime": "2011-09-02T15:41:47+0000",
                        "updatedTime": "2011-09-02T16:12:33+0000",
                        "displayedCount": 91,
                        "commentsCount": 1
                    }
            "next": {
                    "href": "https://api.agrofoto.pl/albums/2322-sezon-2014/photos?page=1&limit=25"
                },
                "previous": null
            }
            
### Photo upload [POST]
Single photo upload
            
+ Request (multipart/form-data; boundary=AaB03x)
            
            --AaB03x
            Content-Disposition: form-data; name="photo"
            Content-Type: application/json
            
            {
                "name": "New Holland T7530 + Agromax 8,4 m",
                "desc": "Sezon 2014 rozpoczęty z lekkim opóźnieniem bo czekałem na Vipa :) Zapraszam do komentowania i oceniania ;) ",
                "subscribe": true
            }
            --AaB03x
            Content-Disposition: form-data; name="file"; filename="photo.jpg"
            Content-Type: image/jpeg
            Content-Transfer-Encoding: binary
            
            ... contents of photo.jpeg ...
            --AaB03x--

+ Response 201 (application/json)
    + Body
            
            {
                "href": "https://api.agrofoto.pl/photos/493380-new-holland-t7530-agromax-84-m"
            }

## Photo [/photos/{id}]
Single photo resource

+ Parameters
    + id (string)

### Get the Photo [GET]
    
+ Response 200 (application/json)
    + Body
    
            {
                "href": "https://api.agrofoto.pl/photos/514762-case-115-i-claas-dominator-86",
                "gallery": {
                    "href": "https://api.agrofoto.pl/galleries/29-case",
                    "title": "Case"
                },
                "user": {
                    "href": "https://api.agrofoto.pl/users/14237-mat",
                    "name": "Mat",
                    "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-thumb-14237.jpg"
                },
                "name": "Case 115 i Claas Dominator 86",
                "desc": "1-szy dzień żniw.",
                "images": {
                    "square": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/tn_gallery_14237_29_53604.jpg",
                    "small": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/sml_gallery_14237_29_53604.jpg",
                    "medium": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/med_gallery_14237_29_53604.jpg",
                    "large": "http://www.agrofoto.pl/forum/uploads/gallery/category_29/gallery_14237_29_53604.jpg"
                },
                "createdTime": "2011-09-02T15:41:47+0000",
                "updatedTime": "2011-09-02T16:12:33+0000",
                "displayedCount": 91,
                "commentsCount": 1,
                "link": "http://www.agrofoto.pl/forum/gallery/image/514762-case-115-i-claas-dominator-86/",
                "rate": {
                    "href": "https://api.agrofoto.pl/photos/514762-case-115-i-claas-dominator-86/rate",
                    "rating": 5,
                    "ratingCount": 2,
                    "userRating": 5
                },
                "subscribe": {
                    "href": "https://api.agrofoto.pl/photos/514762-case-115-i-claas-dominator-86/subscribe",
                    "count": 4,
                    "subscribed": true
                },
                "comments": {
                    "href": "https://api.agrofoto.pl/photos/514762-case-115-i-claas-dominator-86/comments",
                    "items": [
                        {
                            "href": "https://api.agrofoto.pl/comments/1544809",
                            "user": {
                                "href": "https://api.agrofoto.pl/users/19727-michal15555",
                                "name": "michal15555",
                                "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-thumb-19727.jpg"
                            },
                            "message": "Jaki plon ?"
                        }
                    ],
                    "next": {
                        "href": "https://api.agrofoto.pl/photos/514762-case-115-i-claas-dominator-86/comments?page=1&limit=25"
                    },
                    "previous": null
                }
            }

### Delete the photo [DELETE]
+ Response 204

## Photo rating [/photos/{id}/rate]
Rate the photo

+ Parameters
    + id (string)

+ Model (application/json)
    + Body
    
            {
                "href": "https://api.agrofoto.pl/photos/514762-case-115-i-claas-dominator-86/rate",
                "rating": 5.0,
                "ratingCount": 2,
                "userRating": 5.0
            }


### Get photo rating [GET]
+ Response 200 (application/json)

    [Photo rating][]

### Rate the photo [PUT]
Rate or update user vote

+ Request (application/json)

            {
                "rating": 5.0
            }
            
+ Response 200 (application/json)

    [Photo rating][]

## Photo subscribing [/photos/{id}/subscribe]

+ Parameters
    + id (string)

+ Model
    + Body
    
            {
                "href": "https://api.agrofoto.pl/photos/514762-case-115-i-claas-dominator-86/subscribe",
                "count": 4,
                "subscribed": true
            }

### Subscribe the photo [PUT]
+ Response 200 (application/json)

    [Photo subscribing][]    

### Unsubscribe the photo [DELETE]
+ Response 200 

    [Photo subscribing][]

# Group Comments

## Comments collection [/photos/{id}/comments]

+ Parameters
    + id (string)

+ Model
    + Body
    
            {
                "href": "https://api.agrofoto.pl/photos/514762-case-115-i-claas-dominator-86/comments",
                "items": [
                    {
                        "href": "https://api.agrofoto.pl/comments/1544809",
                        "user": {
                            "href": "https://api.agrofoto.pl/users/19727-michal15555",
                            "name": "michal15555",
                            "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-thumb-19727.jpg"
                        },
                        "message": "Jaki plon ?"
                    }
                ],
                "next": {
                    "href": "https://api.agrofoto.pl/photos/514762-case-115-i-claas-dominator-86/comments?page=1&limit=25"
                },
                "previous": null
            }  

### Get all comments [GET]
+ Response 200 (application/json)

    [Comments collection][]

### Post a comment [POST]
+ Request (application/json)

            {
                "message": "Jaki plon ?"
            }
            
+ Response 200 (application/json)

    [Comments collection][]
    
## Comment [/comments/{id}]

+ Parameters
    + id (string)

+ Model
    + Body
    
            {
                "href": "https://api.agrofoto.pl/comments/1544809",
                "user": {
                    "href": "https://api.agrofoto.pl/users/19727-michal15555",
                    "name": "michal15555",
                    "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-thumb-19727.jpg"
                },
                "message": "Jaki plon ?"
            }

### Get the comment [GET]
+ Response 200 (application/json)

    [Comment][]
    
### Update the comment [PUT]
+ Request (application/json)

            {
                "message": "Jaki plon ?"
            }
            
+ Response 200 (application/json)

    [Comments collection][]
    
### Delete the comment [DELETE]
+ Response 204

# Group Forums
Forum related resources

## Forum [/forums/{id}]
A single forum object. Forum object represents a node in the tree of forums.

Following forum object types should be considered:

- root - hot topics, children, no parent, no topics
- node - no hot topics, children, parent, topics/no topics
- leaf - no hot topics, no children, parent, topics

The following example api response is a hybrid of all three node types.

+ Parameters
    + id (string)

### Get Forum [GET]
+ Response 200 (application/json)
    + Body
    
            {
                "href": "https://api.agrofoto.pl/forums/178-jeczmien",
                "title": "Jęczmień",
                "icon": "http://www.agrofoto.pl/forum/uploads/forumicons/41-icon-2145d8666c5e8ca7b66e6f57d61b939b.jpg",
                "unread": true,
                "topic_count": 107,
                "posts_count": 4472,
                "latest_topic": {
                    "href": "https://api.agrofoto.pl/topics/54612-jeczmien-hybrydowy",
                    "title": "jęczmień hybrydowy",
                    "user": {
                        "href": "https://api.agrofoto.pl/users/69429-rapscase",
                        "name": "RAPSCASE",
                        "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-thumb-14237.jpg"
                    },
                    "updated_time": "2011-09-02T16:12:33+0000"
                },
                "children": {
                    "href": "https://api.agrofoto.pl/forums/178-jeczmien/children",
                    "items": [
                        {
                            "href": "https://api.agrofoto.pl/forums/178-jeczmien",
                            "title": "Jęczmień",
                            "icon": "http://www.agrofoto.pl/forum/uploads/forumicons/41-icon-2145d8666c5e8ca7b66e6f57d61b939b.jpg",
                            "unread": true,
                            "topic_count": 107,
                            "posts_count": 4472,
                            "latest_topic": {
                                "href": "https://api.agrofoto.pl/topics/54612-jeczmien-hybrydowy",
                                "title": "jęczmień hybrydowy",
                                "user": {
                                    "href": "https://api.agrofoto.pl/users/69429-rapscase",
                                    "name": "RAPSCASE",
                                    "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-thumb-14237.jpg"
                                },
                                "updated_time": "2011-09-02T16:12:33+0000"
                            }
                        }
                    ],
                    "next": {
                        "href": "https://api.agrofoto.pl/forums/178-jeczmien/children?page=1&limit=25"
                    },
                    "previous": null
                },
                "parent": {
                    "href": "https://api.agrofoto.pl/forums/41-zboza",
                    "title": "Zboża",
                    "parent": {
                        "href": "https://api.agrofoto.pl/forums/19-produkcja-roslinna",
                        "title": "Produkcja roślinna",
                        "parent": {
                            "href": "https://api.agrofoto.pl/forums/0",
                            "title": "Forum"
                        }
                    }
                },
                "hot": {
                    "href": "https://api.agrofoto.pl/forums/0/hot",
                    "items": [
                        {
                            "href": "https://api.agrofoto.pl/topics/2868-mlody-rolnik-nowe-zasady",
                            "title": "MŁODY ROLNIK (nowe zasady)",
                            "posts_count": 13807,
                            "displayed_count": 1497404,
                            "latest_post": {
                                "href": "https://api.agrofoto.pl/topics/2868-mlody-rolnik-nowe-zasady/posts/13808",
                                "from": {
                                    "href": "https://api.agrofoto.pl/users/136140-kamilek1",
                                    "name": "Kamilek1",
                                    "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-136140.jpg"
                                },
                                "created_time": "2011-09-02T16:12:33+0000"
                            }
                        }
                    ],
                    "next": {
                        "href": "https://api.agrofoto.pl/forums/0/hot?page=1&limit=25"
                    }
                },
                "topics": {
                    "href": "https://api.agrofoto.pl/forums/178-jeczmien/topics",
                    "items": [
                        {
                            "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary",
                            "title": "Jęczmień ozimy i jary",
                            "from": {
                                "href": "https://api.agrofoto.pl/users/837-miki7211",
                                "name": "Miki7211"
                            },
                            "created_time": "2011-09-02T16:12:33+0000",
                            "posts_count": 3068,
                            "displayed_count": 371883,
                            "latest_post": {
                                "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary/posts/3069",
                                "from": {
                                    "href": "https://api.agrofoto.pl/users/8527-milanreal1",
                                    "name": "milanreal1",
                                    "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-8527.jpg"
                                },
                                "created_time": "2011-09-02T16:12:33+0000"
                            },
                            "unread": true,
                            "pinned": true,
                            "hot": true
                        }
                    ],
                    "next": {
                        "href": "https://api.agrofoto.pl/forums/178-jeczmien/topics?page=1&limit=25"
                    },
                    "previous": null
                },
                "subscribe": {
                    "href": "https://api.agrofoto.pl/forums/178-jeczmien/subscribe",
                    "count": 3,
                    "subscribed": true
                }
            }

## Subscribe Forum [/forums/{id}/subscribe]

+ Parameters
    + id (string)

+ Model
    + Body
    
            {
                "href": "https://api.agrofoto.pl/forums/178-jeczmien/subscribe",
                "count": 3,
                "subscribed": true
            }

### Subscribe Forum [PUT]
+ Response 200 (application/json)

    [Subscribe Forum][]

### Unsubscribe Forum [DELETE]
+ Response 200

    [Subscribe Forum][]
    
## Forum children [/forums/{id}/children]
Subforums of given forum node.

### List forum children [GET]
+ Response 200 (application/json)
    + Body

            {
                "href": "https://api.agrofoto.pl/forums/178-jeczmien/children",
                "items": [
                    {
                        "href": "https://api.agrofoto.pl/forums/178-jeczmien",
                        "title": "Jęczmień",
                        "icon": "http://www.agrofoto.pl/forum/uploads/forumicons/41-icon-2145d8666c5e8ca7b66e6f57d61b939b.jpg",
                        "unread": true,
                        "topic_count": 107,
                        "posts_count": 4472,
                        "latest_topic": {
                            "href": "https://api.agrofoto.pl/topics/54612-jeczmien-hybrydowy",
                            "title": "jęczmień hybrydowy",
                            "user": {
                                "href": "https://api.agrofoto.pl/users/69429-rapscase",
                                "name": "RAPSCASE",
                                "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-thumb-14237.jpg"
                            },
                            "updated_time": "2011-09-02T16:12:33+0000"
                        }
                    }
                ],
                "next": {
                    "href": "https://api.agrofoto.pl/forums/178-jeczmien/children?page=1&limit=25"
                },
                "previous": null
            }


# Group Topics

## Topic [/topics/{id}]

+ Parameters
    + id (string) ... Topic id
    
+ Model
    + Body

            {
                "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary",
                "title": "Jęczmień ozimy i jary",
                "from": {
                    "href": "https://api.agrofoto.pl/users/837-miki7211",
                    "name": "Miki7211",
                    "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-thumb-837.jpg"
                },
                "created_time": "2011-09-02T16:12:33+0000",
                "posts_count": 3068,
                "displayed_count": 371883,
                "unread": true,
                "pinned": true,
                "hot": true,
                "posts": {
                    "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary/posts",
                    "items": [
                        {
                            "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary/posts/1",
                            "entry": "#1",
                            "created_time": "2011-09-02T16:12:33+0000",
                            "from": {
                                "href": "https://api.agrofoto.pl/users/837-miki7211",
                                "name": "Miki7211",
                                "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-thumb-837.jpg"
                            },
                            "message": "Po wstępnych oględzinach  działu zboża stwierdziłem ze jest masa podobnych tematów.",
                            "signature": "Pozdrawiam"
                        }
                    ],
                    "next": {
                        "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary/posts?page=1&limit=25"
                    },
                    "previous": null,
                    "last": {
                        "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary/posts?page=117&limit=25"
                    }
                },
                "subscribe": {
                    "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary/subscribe",
                    "count": 31,
                    "subscribed": true
                }
                
            }

### Get Topic [GET]
+ Response 200 (application/json)

    [Topic][]
    
## Topics Collection [/forums/{id}/topics]
Topics for give gallery leaf

+ Parameters
    + id (string) ... Forum id

### List all Topics [GET]
+ Response 200 (application/json)
    + Body

            {
                "href": "https://api.agrofoto.pl/forums/178-jeczmien/topics",
                "items": [
                    {
                        "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary",
                        "title": "Jęczmień ozimy i jary",
                        "from": {
                            "href": "https://api.agrofoto.pl/users/837-miki7211",
                            "name": "Miki7211"
                        },
                        "created_time": "2011-09-02T16:12:33+0000",
                        "posts_count": 3068,
                        "displayed_count": 371883,
                        "latest_post": {
                            "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary/posts/3069",
                            "from": {
                                "href": "https://api.agrofoto.pl/users/8527-milanreal1",
                                "name": "milanreal1",
                                "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-8527.jpg"
                            },
                            "created_time": "2011-09-02T16:12:33+0000"
                        },
                        "unread": true,
                        "pinned": true,
                        "hot": true
                    }
                ],
                "next": {
                    "href": "https://api.agrofoto.pl/forums/178-jeczmien/topics?page=1&limit=25"
                },
                "previous": null
            }
            
### Create new Topic [POST]
Not sure about attaching files...

+ Request (application/json)

        {
            "title": "Jęczmień ozimy i jary",
            "post": {
                "message": "Czy siejecie Jęczmień ozimy bo ja w tym roku posiałem jakie opryski proponujecie i ile można nakosić z ha ?",
                "enable_emo": true,
                "enable_sig": true,
                "subscribe": false
            }
        }
        
+ Response 201 (application/json)

    [Topic][]
    
## Subscribe Topic [/topics/{id}/subscribe]

+ Parameters
    + id (string)

+ Model
    + Body
    
            {
                "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary/subscribe",
                "count": 31,
                "subscribed": true
            }

### Subscribe Topic [PUT]
+ Response 200 (application/json)

    [Subscribe Topic][]

### Unsubscribe Topic [DELETE]
+ Response 200

    [Subscribe Topic][]

## Posts Collection [/topic/{id}/posts]
+ Parameters
    + id (string)
    
+ Model
    + Body

            {
                "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary/posts",
                "items": [
                    {
                        "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary/posts/1",
                        "entry": "#1",
                        "created_time": "2011-09-02T16:12:33+0000",
                        "from": {
                            "href": "https://api.agrofoto.pl/users/837-miki7211",
                            "name": "Miki7211",
                            "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-thumb-837.jpg"
                        },
                        "message": "Po wstępnych oględzinach  działu zboża stwierdziłem ze jest masa podobnych tematów.",
                        "signature": "Pozdrawiam"
                    }
                ],
                "next": {
                    "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary/posts?page=1&limit=25"
                },
                "previous": null,
                "last": {
                    "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary/posts?page=117&limit=25"
                }
            }
            
### Get Posts [GET]
+ Response 200 (application/json)

    [Posts Collection][]
    
### Post a Post [POST]
Not sure about attaching a file...

+ Request (application/json)

        {
            "message": "Czy siejecie Jęczmień ozimy bo ja w tym roku posiałem jakie opryski proponujecie i ile można nakosić z ha ?",
            "enable_emo": true,
            "enable_sig": true,
            "subscribe": false
        }
        
+ Response 201 (application/json)

    [Posts Collection][]
    
## Post [/topics/{tid}/posts/{pid}]
+ Parameters
    + tid (string)
    + pid (string)
    
+ Model
    + Body

            {
                "href": "https://api.agrofoto.pl/topics/5005-jeczmien-ozimy-i-jary/posts/1",
                "entry": "#1",
                "created_time": "2011-09-02T16:12:33+0000",
                "from": {
                    "href": "https://api.agrofoto.pl/users/837-miki7211",
                    "name": "Miki7211",
                    "thumb": "http://www.agrofoto.pl/forum/uploads/profile/photo-thumb-837.jpg"
                },
                "message": "Po wstępnych oględzinach  działu zboża stwierdziłem ze jest masa podobnych tematów.",
                "signature": "Pozdrawiam"
            }

### Get Post [GET]
+ Response 200 (application/json)

    [Post][]
    
### Update Post [PUT]
+ Request (application/json)

        {
            "message": "Czy siejecie Jęczmień ozimy bo ja w tym roku posiałem jakie opryski proponujecie i ile można nakosić z ha ?",
            "enable_emo": true,
            "enable_sig": true,
        }
        
+ Response 200 (application/json)

    [Post][]
    
### Delete Post [DELETE]
+ Response 204
