html {
  font: 0.75em/1.25 sans-serif;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  background-color: #533b89;
  color: #fff;
}
.logo,
.started__question,
.started__stack,
.page__title {
  font-family: 'TitilliumText', Helvetica, Arial, sans-serif;
  font-weight: 100;
}
.page__title {
  font-size: 300%;
  padding-bottom: 1em;
  margin-bottom: 0;
  line-height: 100%;
  border-left: 0 solid #fff;
  -webkit-transition: 0.2s linear border-left-width, padding-left;
  -moz-transition: 0.2s linear border-left-width, padding-left;
  -o-transition: 0.2s linear border-left-width, padding-left;
  -ms-transition: 0.2s linear border-left-width, padding-left;
  transition: 0.2s linear border-left-width, padding-left;
}
.baseWrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
.page {
  position: relative;
  z-index: 2;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.page .page__inside {
  margin: 0 auto;
  max-width: 960px;
}
.logo__text--highlight {
  color: #fff;
}
.logo__text {
  margin-bottom: 0;
  color: #c7b2ff;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.logo__bg {
  display: inline-block;
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 0.5em;
  padding-left: 90px;
  background: url("logo_apiblueprint.png") no-repeat left center;
}
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .logo__bg {
    background-image: url("logo_apiblueprint@2x.png");
    -webkit-background-size: 62px auto;
    -moz-background-size: 62px auto;
    background-size: 62px auto;
  }
}
.logo__spot {
  padding-top: 1em;
  font-weight: 100;
  font-size: 40px;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
@media screen and (max-width:760px) {
  .logo__spot {
    font-size: 30px;
  }
}
.logo_animation {
  position: relative;
  height: 300px;
  width: 100%;
  margin-top: 1em;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.logo__brandtext {
  font-size: 2em;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #b4bae9;
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 2em;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width:660px) {
  .logo__brandtext {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    max-width: 99%;
  }
}
.logo__brandtext__info {
  display: inline-block;
  padding-right: 1em;
  background-color: rgba(0,0,0,0.001);
  padding-bottom: 0.5em;
  line-height: 100%;
}
@media screen and (max-width:660px) {
  .logo__brandtext__info {
    display: block;
    padding-left: 1em;
    text-indent: -1em;
  }
}
.logo__brandtext__info::before {
  content: ' ';
  height: 0.5em;
  width: 0.5em;
  line-height: 100%;
  font-size: 100%;
  margin-top: 0.25em;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  vertical-align: text-top;
  display: inline-block;
  margin-right: 0.5em;
}
.brand--api::before {
  color: #fff;
  background-color: #fff;
}
.brand--md::before {
  color: #c154d1;
  background-color: #c154d1;
}
.brand--life::before {
  color: #ec9c4a;
  background-color: #ec9c4a;
}
.brand--tools::before {
  color: #e91166;
  background-color: #e91166;
}
.brand--human::before {
  color: #55c8e5;
  background-color: #55c8e5;
}
.brand--comps::before {
  color: #7759e1;
  background-color: #7759e1;
}
h1 {
  font-size: 3.5em;
  margin: 0;
  padding: 0;
  line-height: 100%;
  font-weight: 100;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media screen and (max-width:660px) {
  h1 {
    font-size: 2.5em;
  }
}
.hello {
  position: relative;
  margin-top: 2em;
}
.hello pre,
.hello code {
  font-family: 'Source Code Pro', monospace;
}
.hello pre {
  position: relative;
  font-weight: normal;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #3a2765;
  color: #a19eb6;
  padding: 2em 0;
  display: block;
  margin-bottom: 4em;
  font-size: 1.5em;
  white-space: pre;
  overflow: auto;
  -webkit-box-shadow: 2em 0 0 #3a2765, -2em 0 0 #3a2765;
  box-shadow: 2em 0 0 #3a2765, -2em 0 0 #3a2765;
}
@media screen and (max-width:480px) {
  .hello pre {
    font-size: 1.3em;
  }
}
@media screen and (max-width:660px) {
  .hello pre {
    margin-bottom: 1em;
  }
}
.hello .hello--linewrap {
  counter-increment: linenumber;
  padding-left: 3em;
  position: relative;
  white-space: pre;
}
.hello .hello--linewrap::before {
  position: absolute;
  left: 0;
  color: #827dba;
  pointer-events: none;
  content: "0" counter(linenumber);
}
.hello--color--method {
  color: #ada6ff;
}
.hello--color--uri {
  color: #ffc889;
}
.hello--color--keyword {
  color: #fff;
}
.hello--color--preformatted {
  color: #bca6ff;
}
.hello--color--value {
  color: #40f6bb;
}
.hello--color--key {
  color: #b09ee1;
}
.links {
  font-size: 2em;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.links .link {
  -webkit-border-radius: 20em;
  border-radius: 20em;
  padding: 0.7em 0;
  text-align: center;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 44%;
  text-decoration: none;
}
.links .link:hover {
  text-decoration: none;
}
.links .link--getStarted {
  color: #fff;
  width: 40%;
  background-color: #00d779;
  margin: 0 1.5% 0 3.5%;
}
.links .link--getStarted:hover {
  background-color: #00b767;
}
.links .link--documentation {
  color: #fff;
  width: 49%;
  background-color: #7966ac;
  margin: 0 3.5% 0 3.5%;
}
.links .link--documentation:hover {
  background-color: #655297;
}
@media screen and (max-width:660px) {
  .links {
    position: relative;
    font-size: 2em;
    top: 0;
    margin-top: 1em;
    width: 100%;
  }
  .links .link {
    width: 100%;
    margin: 0;
  }
  .links .link--getStarted {
    margin-bottom: 1em;
  }
}
@media screen and (min-width:661px) and (max-width:860px) {
  .links {
    position: absolute;
    font-size: 1.5em;
    top: 50%;
    margin-top: -2.5em;
    right: 0.25em;
    width: 12em;
    font-weight: bold;
  }
  .links .link {
    width: 100%;
    margin: 0;
  }
  .links .link--getStarted {
    -webkit-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
  }
  .links .link--documentation {
    -webkit-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
  }
}
@media screen and (min-width:861px) {
  .links {
    position: absolute;
    top: 50%;
    margin-top: -1.3em;
    right: 1em;
    min-width: 20em;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
  }
  .links .link--documentation {
    margin-right: 0;
    margin-left: 6%;
  }
}
.page--controverse {
  color: #635e8c;
  margin-top: 2em;
  background-color: #fff;
}
@media screen and (max-width:660px) {
  .page--controverse {
    background-color: rgba(255,255,255,0.001);
  }
}
.versus__block {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* three items */
.versus__item:first-child:nth-last-child(3),
.versus__item:first-child:nth-last-child(3) ~ .versus__item {
  width: 33.3333%;
}
/* four items */
.versus__item:first-child:nth-last-child(4),
.versus__item:first-child:nth-last-child(4) ~ .versus__item {
  width: 25%;
}
.versus__item {
  padding: 0;
  margin: 0 0 2em 0;
  vertical-align: top;
  display: inline-block;
  background-color: rgba(0,0,0,0.001);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 0.5em solid rgba(0,0,0,0.001);
  border-right: 0.5em solid rgba(0,0,0,0.001);
}
.versus__item .versus__about {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5;
  border-left: 1em solid rgba(0,0,0,0.001);
  border-right: 1em solid rgba(0,0,0,0.001);
}
@media screen and (max-width:660px) {
  li.versus__item:first-child:nth-last-child(3),
  li.versus__item:first-child:nth-last-child(3) ~ .versus__item {
    width: 100%;
    background-color: #fff;
  }
  li.versus__item:first-child:nth-last-child(4),
  li.versus__item:first-child:nth-last-child(4) ~ .versus__item {
    width: 100%;
    background-color: #fff;
  }
}
@media screen and (min-width:661px) {
  li.versus__item:first-child:nth-last-child(3),
  li.versus__item:first-child:nth-last-child(3) ~ .versus__item {
    width: 33.3333%;
    background-color: #fff;
  }
  li.versus__item:first-child:nth-last-child(4),
  li.versus__item:first-child:nth-last-child(4) ~ .versus__item {
    width: 50%;
    background-color: #fff;
  }
}
@media screen and (min-width:1001px) {
  li.versus__item:first-child:nth-last-child(4),
  li.versus__item:first-child:nth-last-child(4) ~ .versus__item {
    width: 25%;
    background-color: #fff;
  }
}
.versus {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
}
@media screen and (max-width:660px) {
  .versus {
    font-size: 1.66em;
  }
}
.versus__title {
  font-weight: bold;
  text-align: center;
  color: #635e8c;
}
.versus__title .versus__whatever {
  color: #533b89;
}
.versus__word {
  color: #aaa;
  font-weight: normal;
}
@media screen and (min-width:661px) and (max-width:860px) {
  .versus__word {
    display: block;
    width: 100%;
    line-height: 0.5em;
    height: 0.5em;
  }
}
@media screen and (max-width:660px) {
  .page--controverse {
    margin-top: 3em;
  }
  .versus .page__title {
    padding-bottom: 0;
    color: #fff;
  }
}
.versus__about {
  text-align: center;
}
.page--examples {
  background: #463177 -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c2768), color-stop(7.5, #463177));
  background: #463177 -webkit-linear-gradient(top, #3c2768 0, #463177 750px);
  background: #463177 -moz-linear-gradient(top, #3c2768 0, #463177 750px);
  background: #463177 -o-linear-gradient(top, #3c2768 0, #463177 750px);
  background: #463177 -ms-linear-gradient(top, #3c2768 0, #463177 750px);
  background: #463177 linear-gradient(top, #3c2768 0, #463177 750px);
  height: 1px;
  position: relative;
}
.page--examples.loaded {
  overflow: auto;
  height: auto;
  padding-bottom: 2em;
}
.examples__title {
  font-size: 300%;
  padding-bottom: 1em;
}
.examples__tabs--wrap {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.examples__links {
  padding: 1.5em 0 2.5em;
  font-size: 1.3em;
  line-height: 1.4;
  min-height: 1.2em;
}
@media screen and (max-width:660px) {
  .examples__links {
    padding-bottom: 0;
  }
}
.examples__links .examples__link--text {
  border-bottom: 1px solid rgba(0,0,0,0.001);
}
.examples__links a {
  float: left;
  text-decoration: none;
  color: rgba(255,255,255,0.7);
}
.examples__links a:last-of-type {
  float: right;
}
@media screen and (max-width:660px) {
  .examples .examples__links a {
    float: none;
    margin-top: 0.5em;
    display: block;
  }
}
.examples__ico--full,
.examples__ico--more {
  float: left;
  height: 20px;
  width: 30px;
  background: url("anim-icons.png") 0 -68px no-repeat;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.examples__ico--full {
  background-position: -171px -65px;
}
.examples__links a:hover {
  text-decoration: none;
}
.examples__links a:hover .examples__link--text {
  color: #fff;
  border-bottom-color: #fff;
}
.examples__links a:hover .examples__ico--full,
.examples__links a:hover .examples__ico--more {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.examples__tab {
  width: 25%;
  border-right: 1px solid #5f4b93;
  overflow: hidden;
  background-color: #4c3d76;
}
.examples__tab:first-of-type {
  border-top-left-radius: 5px;
}
.examples__tab:last-of-type {
  border-top-right-radius: 5px;
  border-right: 0;
}
.examples__tab:last-of-type {
  border-right: 0;
}
.examples__tab.active {
  background-color: #1d1a27;
}
.examples__tab.active a {
  color: #a9a4b9;
}
.examples__tab a {
  text-decoration: none;
  display: block;
  font-size: 1.5em;
  color: #b8a4eb;
  font-weight: bold;
  padding: 1em 0.5em;
  text-align: center;
}
.examples__tab pre {
  display: block;
  max-height: 15em;
  overflow: auto;
  background-color: #3a2765;
  color: #a19eb6;
  padding: 1em;
  display: block;
  margin-bottom: 4em;
  font-size: 1.5em;
  white-space: pre;
}
.js .examples__tab pre {
  display: none;
}
@media screen and (max-width:660px) {
  .examples__tabs--wrap .examples__tab a {
    font-size: 1.3em;
  }
}
.examples__tabs {
  margin: 1em 0 0 0;
  display: table;
  width: 100%;
  table-layout: fixed;
}
.examples__tabs--wrap {
  display: table-row;
}
.examples__tab {
  display: table-cell;
  vertical-align: middle;
}
#editor_ace,
#output_ast {
  font-family: 'Source Code Pro', monospace;
  width: 100%;
  height: 215px;
  position: relative;
  left: 0;
  top: 0;
  line-height: 21px;
  font-size: 13px;
}
@media screen and (max-width:660px) {
  #editor_ace,
  #output_ast {
    height: 200px;
  }
}
#output_ast {
  white-space: pre-line;
}
.page--started {
  background-color: #533b89;
}
p {
  margin: 0;
  margin-bottom: 1em;
}
a {
  color: #40f6bb;
  border-bottom: 1px solid rgba(64,246,187,0.6);
  text-decoration: none;
}
a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}
.demo-block {
  background-color: #f43059;
  color: #fff;
  padding: 1em;
}
.page--headlines {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2a1b52), color-stop(8, #533b89));
  background-image: -webkit-linear-gradient(top, #2a1b52 0, #533b89 800px);
  background-image: -moz-linear-gradient(top, #2a1b52 0, #533b89 800px);
  background-image: -o-linear-gradient(top, #2a1b52 0, #533b89 800px);
  background-image: -ms-linear-gradient(top, #2a1b52 0, #533b89 800px);
  background-image: linear-gradient(top, #2a1b52 0, #533b89 800px);
}
.highlightedGreen {
  margin-top: 4em;
  background-color: #00d779;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  padding: 3em;
  margin-bottom: 1em;
  position: relative;
}
.highlightedGreen h2 {
  margin: 0;
  padding: 0 0 0.3em 85px;
  font-size: 230%;
  font-weight: normal;
}
.highlightedGreen p {
  padding: 0 0 0 85px;
  margin: 0;
  font-size: 180%;
  font-weight: normal;
}
.highlightedGreen p a {
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.6);
}
.highlightedGreen p a:hover {
  border-bottom-color: #fff;
}
.highlightedGreen + .subnotes {
  font-size: 1.4em;
}
@media screen and (max-width:660px) {
  .highlightedGreen + .subnotes {
    text-align: center;
    font-size: 1.7em;
  }
}
.highlightedGreen__bg {
  position: absolute;
  left: 3em;
  top: 3em;
  height: 80px;
  width: 60px;
  margin-right: 2em;
  background: url("sprite.png") -570px -120px no-repeat;
}
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .highlightedGreen__bg {
    background-image: url("sprite@2x.png");
    -webkit-background-size: 853px auto;
    -moz-background-size: 853px auto;
    background-size: 853px auto;
  }
}
.subnotes {
  line-height: 1.3;
  color: #b09ee1;
}
.subnotes--right {
  text-align: right;
}
.started__alternatively__link {
  color: #40f6bb;
}
.anim__item {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 38px;
  height: 0;
  min-width: 0;
  overflow: visible;
  line-height: 1px;
  font-size: 1px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
.anim__item .anim--circle {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url("anim-icons.png");
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  transform: translateZ(0px);
}
.anim__dots__all {
  display: block;
  position: absolute;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  top: -3px;
  left: 0;
  height: 7px;
  overflow: hidden;
  padding-left: 40px;
}
.anim--dot {
  position: absolute;
  left: -328px;
  top: 0;
  width: 840px;
  height: 7px;
  background: url("dots.png") repeat-x -33px 0;
  -webkit-animation: scaler 1.5s steps(15, end) infinite;
  -moz-animation: scaler 1.5s steps(15, end) infinite;
  -o-animation: scaler 1.5s steps(15, end) infinite;
  -ms-animation: scaler 1.5s steps(15, end) infinite;
  animation: scaler 1.5s steps(15, end) infinite;
  -webkit-transform: translateX(164px) translateZ(0);
  -moz-transform: translateX(164px) translateZ(0);
  -o-transform: translateX(164px) translateZ(0);
  -ms-transform: translateX(164px) translateZ(0);
  transform: translateX(164px) translateZ(0);
}
.ab_testing__v_logo + .ab_testing__v_a {
  display: none !important;
}
.anim--dot {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.anim--life .anim__dots__all {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.anim--life .anim__dots__all .anim--dot {
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  -ms-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-name: scaler2;
  -moz-animation-name: scaler2;
  -o-animation-name: scaler2;
  -ms-animation-name: scaler2;
  animation-name: scaler2;
}
.anim--life .anim--circle {
  height: 36px;
  width: 36px;
  top: -59px;
  left: 303px;
  margin-top: -18px;
  background-color: #ec9c4a;
  background-position: -113px -32px;
}
.anim--tools .anim__dots__all {
  -webkit-transform: rotate(200deg);
  -moz-transform: rotate(200deg);
  -o-transform: rotate(200deg);
  -ms-transform: rotate(200deg);
  transform: rotate(200deg);
}
.anim--tools .anim__dots__all .anim--dot {
  -webkit-animation: scaler3 2.1s steps(30, end) infinite;
  -moz-animation: scaler3 2.1s steps(30, end) infinite;
  -o-animation: scaler3 2.1s steps(30, end) infinite;
  -ms-animation: scaler3 2.1s steps(30, end) infinite;
  animation: scaler3 2.1s steps(30, end) infinite;
}
.anim--tools .anim--circle {
  left: -377px;
  top: -127px;
  margin-top: -25px;
  height: 50px;
  width: 50px;
  background-color: #e91166;
  background-position: 13px 12px;
}
.anim--md .anim__dots__all {
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
}
.anim--md .anim__dots__all .anim--dot {
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  -ms-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.anim--md .anim--circle {
  left: 150px;
  top: 74px;
  margin-top: -15px;
  height: 38px;
  width: 38px;
  background-color: #b36cd0;
  background-position: -69px 10px;
}
.anim--human .anim__dots__all {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.anim--human .anim__dots__all .anim--dot {
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.anim--human .anim--circle {
  left: -173px;
  top: 88px;
  margin-top: -27px;
  height: 54px;
  width: 54px;
  background-color: #55c8e5;
  background-position: -27px -23px;
}
.anim--comps .anim__dots__all {
  -webkit-transform: rotate(280deg);
  -moz-transform: rotate(280deg);
  -o-transform: rotate(280deg);
  -ms-transform: rotate(280deg);
  transform: rotate(280deg);
}
.anim--comps .anim__dots__all .anim--dot {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
.anim--comps .anim--circle {
  left: -5px;
  top: -160px;
  margin-top: -33px;
  height: 64px;
  width: 64px;
  background-color: #7759e1;
  background-position: -143px 18px;
}
.anim--api .anim--circle {
  margin-top: -40px;
  margin-left: -40px;
  font-size: 30px;
  line-height: 80px;
  text-align: center;
  height: 80px;
  width: 80px;
  background-color: #fff;
  color: #000;
}
.anim--api:hover .anim--circle {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.logo__buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  overflow: visible;
  z-index: 3;
  background-color: rgba(0,0,0,0.001);
}
@media only screen and (min-width:761px) {
  .logo_animation .anim--dot {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    -ms-animation-play-state: running;
    animation-play-state: running;
  }
}
@media screen and (max-width:760px) {
  .logo_animation {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
}
@media screen and (max-width:660px) {
  .logo_animation {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
  .logo__spot {
    padding-top: 0;
  }
}
@media screen and (max-width:860px) {
  .logo__buttons .logo__buttons--in {
    text-align: center;
    height: 30px;
  }
  .logo__buttons .logo__buttons--in > p {
    margin-top: 18em;
    float: none;
  }
  .logo__text {
    text-align: center;
    margin-bottom: 10em;
  }
}
@media screen and (max-width:480px) {
  .fork__link {
    visibility: hidden;
    display: none;
  }
  .logo__bg {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .logo__buttons .logo__buttons--in > p {
    margin-top: 15em;
  }
  .logo_animation {
    height: 150px;
    margin-top: 0;
    -webkit-transform: scale(0.45);
    -moz-transform: scale(0.45);
    -o-transform: scale(0.45);
    -ms-transform: scale(0.45);
    transform: scale(0.45);
  }
  .logo_animation .anim__item {
    margin-top: 0;
  }
  .logo .anim__item .anim--circle {
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
  }
  .logo .anim__item .anim--circle:hover {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
}
.logo__buttons--in {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  height: 0;
  overflow: visible;
  text-align: right;
  background-color: rgba(0,0,0,0.001);
}
.logo__buttons--in > p {
  margin-top: 120px;
  float: right;
  padding-right: 3em;
  padding-left: 3em;
}
.versus__item {
  padding-top: 2em;
}
.versus__item .versus__bg {
  display: block;
  height: 95px;
  width: 100px;
  margin: 1em auto 1em;
  background-image: url("sprite.png");
  background-repeat: no-repeat;
}
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .versus__item .versus__bg {
    background-image: url("sprite@2x.png");
    -webkit-background-size: 853px auto;
    -moz-background-size: 853px auto;
    background-size: 853px auto;
  }
}
.versus--diy {
  background-position: 5px 0;
}
.versus--swagger {
  background-position: -316px 0;
}
.versus--google {
  background-position: -660px 0;
}
.started__texts {
  color: #b09ee1;
  font-size: 1.4em;
  padding-top: 1em;
}
.started {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
}
.started .page__title {
  color: #fff;
  padding-bottom: 0.2em;
}
.started .subnotes {
  line-height: 1.3;
  color: #b09ee1;
}
.started h3 {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 1.5em 0 0.1em 0;
  font-size: 1.2em;
}
.started pre {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #3a2765;
  color: #a19eb6;
  padding: 1em;
  margin: 0.25em 0 1em;
  overflow: auto;
}
.started code {
  display: block;
}
.started pre,
.started code {
  font-family: 'Source Code Pro', monospace;
}
.started pre + .subnotes {
  margin-top: -0.5em;
  margin-bottom: 0;
}
.started__texts--subheading {
  margin-bottom: 1em;
  font-size: 1.25em;
}
.bindings {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  padding-bottom: 4em;
}
.binding__list {
  padding: 0 0 3em 0;
  margin: 0 0 0 -3em;
  list-style-type: none;
  display: block;
}
.binding__item {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  line-height: 160px;
  min-height: 150px;
  text-align: center;
  font-size: 3em;
  overflow: hidden;
  width: 25%;
  border-left: 1em solid rgba(0,0,0,0.001);
  vertical-align: top;
}
.binding__item.binding__item--link,
.binding__item.binding__item--making {
  line-height: 20px;
  font-size: 1.4em;
  border-left-width: 2em;
  padding: 35px 1em 0;
  text-align: center;
}
.binding__item.binding__item--making {
  padding: 0;
}
.binding__item--link--border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid rgba(255,255,255,0.2);
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.button__link {
  color: #fff;
  position: relative;
  background-color: #00d779;
  -webkit-border-radius: 20em;
  border-radius: 20em;
  padding: 0.5em 1.3em;
  font-size: 100%;
  line-height: 150%;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin: 15px 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
.button__link:hover {
  background-color: #00b767;
  text-decoration: none;
}
.binding__item:first-child:nth-last-child(2),
.binding__item:first-child:nth-last-child(2) ~ .binding__item {
  width: 50%;
}
.binding__item:first-child:nth-last-child(3),
.binding__item:first-child:nth-last-child(3) ~ .binding__item {
  width: 33.3333%;
}
.binding__item:first-child:nth-last-child(4),
.binding__item:first-child:nth-last-child(4) ~ .binding__item {
  width: 25%;
}
@media screen and (max-width:660px) {
  .bindings .binding__list {
    margin-left: -1.5em;
  }
  .bindings .binding__list .binding__item,
  .bindings .binding__list .binding__item + .binding__item {
    width: 50%;
    margin-bottom: 0.5em;
    border-left-width: 0.5em;
    display: inline-block;
  }
}
.binding__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #6b53a5;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.binding__link:hover {
  background-color: #806bb4;
  text-decoration: none;
}
.overlay--text {
  background-color: rgba(58,39,101,0.8);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0.5em 0.7em;
  display: inline-block;
  white-space: nowrap;
}
.binding__bg {
  background-image: url("sprite.png");
  background-repeat: no-repeat;
}
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .binding__bg {
    background-image: url("sprite@2x.png");
    -webkit-background-size: 853px auto;
    -moz-background-size: 853px auto;
    background-size: 853px auto;
  }
}
.binding__bg.binding--nodejs {
  width: 140px;
  margin: 41px auto 0;
  height: 60px;
  display: block;
  background-position: -196px -124px;
}
.binding__bg.binding--ruby {
  width: 140px;
  margin: 25px auto 0;
  height: 110px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background-position: 15px -98px;
  padding-top: 30px;
  line-height: 125%;
}
.tooling__list {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  display: table;
  width: 100%;
  margin: 0 0 1em 0;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  border: 0 none;
  border-collapse: collapse;
  background-color: #6b53a5;
  font-size: 1.5em;
  position: relative;
  padding: 0;
}
.tooling__share {
  text-align: center;
  font-size: 1.333em;
  margin: 3em 0 0;
}
.tooling__share--ico::before {
  content: ' ';
  background: url("sprite.png") -428px -170px no-repeat;
  height: 24px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .tooling__share--ico::before {
    background-image: url("sprite@2x.png");
    -webkit-background-size: 853px auto;
    -moz-background-size: 853px auto;
    background-size: 853px auto;
  }
}
.tooling__item {
  position: relative;
  display: table-row;
  overflow: hidden;
  color: #d7d2ff;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  background-color: rgba(0,0,0,0.001);
}
.tooling__item:hover {
  background-color: #7760af;
}
.tooling__item a {
  color: #fff;
}
.tooling__item .smaller,
.tooling__item .tooling__text {
  color: #d7d2ff;
}
.tooling__item--wrap {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.tooling__item:first-of-type .tooling__item--wrap {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.tooling__ico,
.tooling__title,
.tooling__text {
  display: table-cell;
  border: 1px solid #7c69ae;
  border-bottom: 0 none;
  padding: 2em;
  margin: 0;
  font-size: 100%;
  min-height: 120px;
  font-weight: normal;
}
.tooling__item:last-of-type .tooling__ico,
.tooling__item:last-of-type .tooling__title,
.tooling__item:last-of-type .tooling__text {
  border-bottom: 1px solid #7c69ae;
}
.tooling__ico {
  padding-top: 1.75em;
  padding-bottom: 1.2em;
  padding-left: 0;
  padding-right: 0;
  width: 130px;
  vertical-align: middle;
  text-align: center;
}
.tooling__title {
  width: 260px;
}
.tooling__title a {
  text-decoration: none;
}
.tooling__title a:hover {
  text-decoration: underline;
}
@media screen and (max-width:660px) {
  .tooling__list {
    display: block;
    font-size: 1.75em;
  }
  .tooling__ico,
  .tooling__title,
  .tooling__text {
    width: 100%;
    border-color: rgba(0,0,0,0.001);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 0.5em;
    min-height: 0;
  }
  .tooling__text {
    padding-bottom: 1.2em;
  }
  .tooling__title {
    padding-top: 1.2em;
  }
  .tooling__ico {
    position: absolute;
    left: 0;
    top: 1em;
    width: 100px;
  }
  .tooling__item {
    display: block;
    padding-left: 100px;
    border-bottom: 1px solid #8873bb;
  }
  .tooling__item:last-of-type {
    border-bottom: 0 none;
  }
}
.tooling__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.001);
  vertical-align: top;
  z-index: 2;
}
.tooling__ico__logo {
  background-image: url("sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
}
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .tooling__ico__logo {
    background-image: url("sprite@2x.png");
    -webkit-background-size: 853px auto;
    -moz-background-size: 853px auto;
    background-size: 853px auto;
  }
}
.tooling__ico__logo--apiary {
  background-position: -693px -140px;
  height: 60px;
  width: 65px;
}
.tooling__ico--construction {
  background-position: -795px -135px;
  height: 62px;
  width: 65px;
}
.tooling__ico--question {
  position: relative;
}
.tooling__ico--question:before,
.tooling__ico--question:after,
.tooling__icon--cube {
  content: '?';
  position: absolute;
  right: 0;
  top: 25px;
  margin: 0 9px;
  height: 20px;
  width: 20px;
  font-weight: bold;
  font-size: 22px;
  -webkit-transform: skewY(327deg);
  -moz-transform: skewY(327deg);
  -o-transform: skewY(327deg);
  -ms-transform: skewY(327deg);
  transform: skewY(327deg);
}
.tooling__ico--question:after {
  right: auto;
  left: 0;
  -webkit-transform: skewY(32deg);
  -moz-transform: skewY(32deg);
  -o-transform: skewY(32deg);
  -ms-transform: skewY(32deg);
  transform: skewY(32deg);
}
.tooling__icon--cube {
  -webkit-transform: rotate(88deg) skewX(30deg) skewY(321deg);
  -moz-transform: rotate(88deg) skewX(30deg) skewY(321deg);
  -o-transform: rotate(88deg) skewX(30deg) skewY(321deg);
  -ms-transform: rotate(88deg) skewX(30deg) skewY(321deg);
  transform: rotate(88deg) skewX(30deg) skewY(321deg);
  top: 3px;
  margin: 0 20px 0 0;
}
.fork__link {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;
  position: fixed;
  right: 0;
  top: 90px;
  width: 123px;
  margin-right: -63px;
  padding-left: 68px;
  display: block;
  height: 64px;
  white-space: pre-line;
  padding-top: 8px;
  text-decoration: none !important;
  font-weight: bold;
  line-height: 16px;
  font-size: 14px;
  background: url("gh-fork.png") 0 0 no-repeat;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.fork__link:hover {
  margin-right: 0;
}
.page--footer {
  background-color: #322b44;
  font-size: 1.3em;
  padding-top: 3em;
  padding-bottom: 3em;
}
.colors--lighter {
  color: #fff;
}
.colors--logo {
  color: #c7b2ff;
}
.footer {
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
  color: #a19eb6;
}
.footer a {
  color: #fff;
  border-bottom-color: rgba(255,255,255,0.4);
}
.footer a:hover {
  border-bottom-color: #fff;
}
.footer--leftSide {
  float: left;
}
.footer--rightSide {
  float: right;
}
.footer--rightSide a {
  display: inline-block;
  margin-left: 1em;
}
.footer__licence {
  float: right;
}
.footer__logo--float {
  float: left;
  display: block;
}
.footer__licence {
  display: block;
}
@media screen and (max-width:660px) {
  .footer__licence,
  .footer__logo--float {
    float: none;
    margin: 1em auto 0;
  }
}
.footer--leftSide,
.footer--rightSide {
  margin: 0;
  padding: 0;
}
@media screen and (max-width:660px) {
  .footer--leftSide,
  .footer--rightSide {
    float: none;
    text-align: center;
  }
}
.footer--spacer {
  padding-left: 1em;
  padding-right: 1em;
  color: rgba(0,0,0,0.001);
}
@media screen and (max-width:660px) {
  .footer--spacer {
    display: block;
    height: 0;
    margin-top: 0.5em;
    width: 100%;
    overflow: hidden;
  }
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.block {
  display: block;
}
.smaller {
  font-size: 85%;
}
.larger {
  font-size: 125%;
}
.nowrap {
  white-space: nowrap;
}
.pre {
  white-space: pre;
}
.real__comming__soon {
  font-family: 'TitilliumText', Helvetica, Arial, sans-serif;
  font-weight: 100;
  max-width: 519px;
  max-height: 463px;
  margin: 2em auto;
  text-align: center;
  font-size: 50px;
}
.comming__soon {
  font-family: 'TitilliumText', Helvetica, Arial, sans-serif;
  font-weight: 100;
  padding-bottom: 0;
  padding-top: 450px;
  max-width: 519px;
  max-height: 463px;
  background: url("logo.png") center top no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  margin: 0 auto;
  margin-top: 4em;
}
.comming__soon pre {
  font-family: 'Source Code Pro', monospace;
  margin: 1em auto;
  color: #a19eb6;
  display: block;
  white-space: pre;
  font-size: 25px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #3a2765;
  padding: 0.5em;
}
@media screen and (max-width:510px) {
  .comming__soon pre {
    font-size: 17px;
  }
}
.comming__soon pre span[class] {
  font-weight: 400;
}
@media screen and (max-width:510px) {
  .comming__soon {
    padding-top: 350px;
  }
}
.not-ready .logo__bg {
  padding: 40px 0;
  background: none;
  text-align: center;
  display: block;
  font-size: 150%;
}
@media screen and (max-width:860px) {
  .not-ready .logo__text {
    margin-bottom: 0;
  }
}
.ace-twilight .ace_markup.ace_list {
  color: #fff;
}
.examples__editor,
.examples__json {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
.examples__editor .ace-twilight.ace_content {
  background-color: #1d1a27;
}
.examples__editor .ace-twilight .ace_variable {
  color: #b6ff71;
}
.examples__editor .ace-twilight .ace_string {
  color: #3eeaff;
}
.examples__editor .ace-twilight .ace_paren {
  color: #9086ae;
}
.examples__editor .ace-twilight .ace_gutter {
  background-color: #2d2546;
  color: #757399;
}
.examples__json {
  border-top: 1px dashed #645881;
}
.examples__json .ace-twilight {
  background-color: #272333;
}
.examples__json .ace-twilight .ace_variable {
  color: #b6ff71;
}
.examples__json .ace-twilight .ace_string {
  color: #3eeaff;
}
.examples__json .ace-twilight .ace_paren {
  color: #9086ae;
}
.examples__json .ace-twilight .ace_gutter {
  background-color: #362e50;
  color: #757399;
}
.examples__editor:after,
.examples__json:after {
  position: absolute;
  right: 1em;
  top: 1em;
  pointer-events: none;
  content: attr(data-overtitle);
  color: rgba(161,158,182,0.2);
  font-size: 2.5em;
  padding: 0;
  font-family: 'TitilliumText', Helvetica, Arial, sans-serif;
  font-weight: 100;
}
.ace_editor .ace_gutter-tooltip {
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.examples__json .ace_line {
  position: relative;
  clear: both;
}
.examples__json .ace_gutter {
  pointer-events: none;
  text-align: right;
  display: block;
  float: left;
  padding: 0 3px 0 0;
  margin-right: 3px;
  position: static;
}
.examples__json .ace_folding-enabled .ace_gutter-cell {
  padding-right: 13px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 40px;
}
.examples__json {
  height: auto;
  background-color: #272333;
}
#output_ast {
  background-color: #272333;
  position: relative;
  overflow: auto;
  height: auto;
}
.link,
.link:hover,
.examples__switch,
.examples__switch:hover,
.examples__links a,
.examples__links a:hover,
.binding__link,
.binding__link:hover,
.tooling__link,
.tooling__link:hover,
.tooling__title a,
.tooling__title a:hover,
.fork__link,
.fork__link:hover,
.button__link,
.button__link:hover,
.noB,
.noB:hover {
  border-bottom: 0 none;
}
@-moz-keyframes scaler {
  0% {
    -webkit-transform: translateX(164px) translateZ(0);
    -moz-transform: translateX(164px) translateZ(0);
    -o-transform: translateX(164px) translateZ(0);
    -ms-transform: translateX(164px) translateZ(0);
    transform: translateX(164px) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(0px) translateZ(0);
    -moz-transform: translateX(0px) translateZ(0);
    -o-transform: translateX(0px) translateZ(0);
    -ms-transform: translateX(0px) translateZ(0);
    transform: translateX(0px) translateZ(0);
  }
}
@-webkit-keyframes scaler {
  0% {
    -webkit-transform: translateX(164px) translateZ(0);
    -moz-transform: translateX(164px) translateZ(0);
    -o-transform: translateX(164px) translateZ(0);
    -ms-transform: translateX(164px) translateZ(0);
    transform: translateX(164px) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(0px) translateZ(0);
    -moz-transform: translateX(0px) translateZ(0);
    -o-transform: translateX(0px) translateZ(0);
    -ms-transform: translateX(0px) translateZ(0);
    transform: translateX(0px) translateZ(0);
  }
}
@-o-keyframes scaler {
  0% {
    -webkit-transform: translateX(164px) translateZ(0);
    -moz-transform: translateX(164px) translateZ(0);
    -o-transform: translateX(164px) translateZ(0);
    -ms-transform: translateX(164px) translateZ(0);
    transform: translateX(164px) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(0px) translateZ(0);
    -moz-transform: translateX(0px) translateZ(0);
    -o-transform: translateX(0px) translateZ(0);
    -ms-transform: translateX(0px) translateZ(0);
    transform: translateX(0px) translateZ(0);
  }
}
@-ms-keyframes scaler {
  0% {
    -webkit-transform: translateX(164px) translateZ(0);
    -moz-transform: translateX(164px) translateZ(0);
    -o-transform: translateX(164px) translateZ(0);
    -ms-transform: translateX(164px) translateZ(0);
    transform: translateX(164px) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(0px) translateZ(0);
    -moz-transform: translateX(0px) translateZ(0);
    -o-transform: translateX(0px) translateZ(0);
    -ms-transform: translateX(0px) translateZ(0);
    transform: translateX(0px) translateZ(0);
  }
}
@keyframes scaler {
  0% {
    -webkit-transform: translateX(164px) translateZ(0);
    -moz-transform: translateX(164px) translateZ(0);
    -o-transform: translateX(164px) translateZ(0);
    -ms-transform: translateX(164px) translateZ(0);
    transform: translateX(164px) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(0px) translateZ(0);
    -moz-transform: translateX(0px) translateZ(0);
    -o-transform: translateX(0px) translateZ(0);
    -ms-transform: translateX(0px) translateZ(0);
    transform: translateX(0px) translateZ(0);
  }
}
@-moz-keyframes scaler2 {
  0% {
    -webkit-transform: translateX(-164px) translateZ(0);
    -moz-transform: translateX(-164px) translateZ(0);
    -o-transform: translateX(-164px) translateZ(0);
    -ms-transform: translateX(-164px) translateZ(0);
    transform: translateX(-164px) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(0px) translateZ(0);
    -moz-transform: translateX(0px) translateZ(0);
    -o-transform: translateX(0px) translateZ(0);
    -ms-transform: translateX(0px) translateZ(0);
    transform: translateX(0px) translateZ(0);
  }
}
@-webkit-keyframes scaler2 {
  0% {
    -webkit-transform: translateX(-164px) translateZ(0);
    -moz-transform: translateX(-164px) translateZ(0);
    -o-transform: translateX(-164px) translateZ(0);
    -ms-transform: translateX(-164px) translateZ(0);
    transform: translateX(-164px) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(0px) translateZ(0);
    -moz-transform: translateX(0px) translateZ(0);
    -o-transform: translateX(0px) translateZ(0);
    -ms-transform: translateX(0px) translateZ(0);
    transform: translateX(0px) translateZ(0);
  }
}
@-o-keyframes scaler2 {
  0% {
    -webkit-transform: translateX(-164px) translateZ(0);
    -moz-transform: translateX(-164px) translateZ(0);
    -o-transform: translateX(-164px) translateZ(0);
    -ms-transform: translateX(-164px) translateZ(0);
    transform: translateX(-164px) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(0px) translateZ(0);
    -moz-transform: translateX(0px) translateZ(0);
    -o-transform: translateX(0px) translateZ(0);
    -ms-transform: translateX(0px) translateZ(0);
    transform: translateX(0px) translateZ(0);
  }
}
@-ms-keyframes scaler2 {
  0% {
    -webkit-transform: translateX(-164px) translateZ(0);
    -moz-transform: translateX(-164px) translateZ(0);
    -o-transform: translateX(-164px) translateZ(0);
    -ms-transform: translateX(-164px) translateZ(0);
    transform: translateX(-164px) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(0px) translateZ(0);
    -moz-transform: translateX(0px) translateZ(0);
    -o-transform: translateX(0px) translateZ(0);
    -ms-transform: translateX(0px) translateZ(0);
    transform: translateX(0px) translateZ(0);
  }
}
@keyframes scaler2 {
  0% {
    -webkit-transform: translateX(-164px) translateZ(0);
    -moz-transform: translateX(-164px) translateZ(0);
    -o-transform: translateX(-164px) translateZ(0);
    -ms-transform: translateX(-164px) translateZ(0);
    transform: translateX(-164px) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(0px) translateZ(0);
    -moz-transform: translateX(0px) translateZ(0);
    -o-transform: translateX(0px) translateZ(0);
    -ms-transform: translateX(0px) translateZ(0);
    transform: translateX(0px) translateZ(0);
  }
}
@-moz-keyframes scaler3 {
  0% {
    -webkit-transform: translateX(328px) translateZ(0);
    -moz-transform: translateX(328px) translateZ(0);
    -o-transform: translateX(328px) translateZ(0);
    -ms-transform: translateX(328px) translateZ(0);
    transform: translateX(328px) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(0px) translateZ(0);
    -moz-transform: translateX(0px) translateZ(0);
    -o-transform: translateX(0px) translateZ(0);
    -ms-transform: translateX(0px) translateZ(0);
    transform: translateX(0px) translateZ(0);
  }
}
@-webkit-keyframes scaler3 {
  0% {
    -webkit-transform: translateX(328px) translateZ(0);
    -moz-transform: translateX(328px) translateZ(0);
    -o-transform: translateX(328px) translateZ(0);
    -ms-transform: translateX(328px) translateZ(0);
    transform: translateX(328px) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(0px) translateZ(0);
    -moz-transform: translateX(0px) translateZ(0);
    -o-transform: translateX(0px) translateZ(0);
    -ms-transform: translateX(0px) translateZ(0);
    transform: translateX(0px) translateZ(0);
  }
}
@-o-keyframes scaler3 {
  0% {
    -webkit-transform: translateX(328px) translateZ(0);
    -moz-transform: translateX(328px) translateZ(0);
    -o-transform: translateX(328px) translateZ(0);
    -ms-transform: translateX(328px) translateZ(0);
    transform: translateX(328px) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(0px) translateZ(0);
    -moz-transform: translateX(0px) translateZ(0);
    -o-transform: translateX(0px) translateZ(0);
    -ms-transform: translateX(0px) translateZ(0);
    transform: translateX(0px) translateZ(0);
  }
}
@-ms-keyframes scaler3 {
  0% {
    -webkit-transform: translateX(328px) translateZ(0);
    -moz-transform: translateX(328px) translateZ(0);
    -o-transform: translateX(328px) translateZ(0);
    -ms-transform: translateX(328px) translateZ(0);
    transform: translateX(328px) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(0px) translateZ(0);
    -moz-transform: translateX(0px) translateZ(0);
    -o-transform: translateX(0px) translateZ(0);
    -ms-transform: translateX(0px) translateZ(0);
    transform: translateX(0px) translateZ(0);
  }
}
@keyframes scaler3 {
  0% {
    -webkit-transform: translateX(328px) translateZ(0);
    -moz-transform: translateX(328px) translateZ(0);
    -o-transform: translateX(328px) translateZ(0);
    -ms-transform: translateX(328px) translateZ(0);
    transform: translateX(328px) translateZ(0);
  }

  100% {
    -webkit-transform: translateX(0px) translateZ(0);
    -moz-transform: translateX(0px) translateZ(0);
    -o-transform: translateX(0px) translateZ(0);
    -ms-transform: translateX(0px) translateZ(0);
    transform: translateX(0px) translateZ(0);
  }
}
