/**
 * Proxima Nova
 */
@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/proxima-nova/2683CC_1D_0.eot');
  src: url('./fonts/proxima-nova/2683CC_1D_0.eot?#iefix') format("embedded-opentype"), url('./fonts/proxima-nova/2683CC_1D_0.woff') format('woff'), url('./fonts/proxima-nova/2683CC_1D_0.ttf') format("truetype");
  font-style: normal;
  font-weight: 100;
}


/**
 * Proxima Nova
 */
@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/proxima-nova/2683CC_28_0.eot');
  src: url('./fonts/proxima-nova/2683CC_28_0.eot?#iefix') format("embedded-opentype"), url('./fonts/proxima-nova/2683CC_28_0.woff') format('woff'), url('./fonts/proxima-nova/2683CC_28_0.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}

/**
 * Proxima Nova
 */
@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/proxima-nova/2683CC_22_0.eot');
  src: url('./fonts/proxima-nova/2683CC_22_0.eot?#iefix') format("embedded-opentype"), url('./fonts/proxima-nova/2683CC_22_0.woff') format('woff'), url('./fonts/proxima-nova/2683CC_22_0.ttf') format("truetype");
  font-style: italic;
  font-weight: normal;
}

/**
 * Proxima Nova
 */
@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/proxima-nova/2683CC_29_0.eot');
  src: url('./fonts/proxima-nova/2683CC_29_0.eot?#iefix') format("embedded-opentype"), url('./fonts/proxima-nova/2683CC_29_0.woff') format('woff'), url('./fonts/proxima-nova/2683CC_29_0.ttf') format("truetype");
  font-style: normal;
  font-weight: bold;
}


/**
 * Source Code Pro
 */
@font-face {
  font-family: 'Source Code Pro';
  src: url('./fonts/source-code-pro/SourceCodePro-Regular-webfont.eot');
  src: url('./fonts/source-code-pro/SourceCodePro-Regular-webfont.eot?#iefix') format("embedded-opentype"), url('./fonts/source-code-pro/SourceCodePro-Regular-webfont.woff') format('woff'), url('./fonts/source-code-pro/SourceCodePro-Regular-webfont.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}


/**
 * TitilliumText Medium (TitilliumText25L600wt)
 */
@font-face {
  font-family: 'TitilliumText';
  src: url("./fonts/titillium-text/TitilliumText25L002-webfont.eot");
  src: url("./fonts/titillium-text/TitilliumText25L002-webfont.eot?#iefix") format("embedded-opentype"), url('./fonts/titillium-text/TitilliumText25L002-webfont.woff') format('woff'), url("./fonts/titillium-text/TitilliumText25L002-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/**
 * TitilliumText Normal (TitilliumText25L400wt)
 */
@font-face {
  font-family: 'TitilliumText';
  src: url("./fonts/titillium-text/TitilliumText25L003-webfont.eot");
  src: url("./fonts/titillium-text/TitilliumText25L003-webfont.eot?#iefix") format("embedded-opentype"), url('./fonts/titillium-text/TitilliumText25L003-webfont.woff') format('woff'), url("./fonts/titillium-text/TitilliumText25L003-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/**
 * TitilliumText Thin (TitilliumText25L1wt)
 */
@font-face {
  font-family: 'TitilliumText';
  src: url("./fonts/titillium-text/TitilliumText25L005-webfont.eot");
  src: url("./fonts/titillium-text/TitilliumText25L005-webfont.eot?#iefix") format("embedded-opentype"), url('./fonts/titillium-text/TitilliumText25L005-webfont.woff') format('woff'), url("./fonts/titillium-text/TitilliumText25L005-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
